# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.pytest_cache/

# Virtual env
.venv/
venv/
env/

# VSCode
.vscode/**
!.vscode/mcp.json

# OS
.DS_Store

# Coverage / reports
htmlcov/
.coverage*
coverage.xml

# Logs
*.log
